@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: rgb(13, 105, 13);
  overflow-x: hidden;
}
.slider {
  width: 100%; /*largeur*/
  min-height: 100vh;
  background: black;
  position: relative;
}
.slider-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(35%); /*pour mettre plus sombre*/
}
.slider-content {
  position: absolute; /*positionner par rapport a relative */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*centrer un elem en position abs*/
  text-align: center;
}
h1 {
  flex-wrap: wrap;
  color: rgb(224, 20, 20);
  text-shadow: -2px 4px 7px;
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
  line-height: 1.5em; /*espace entre les phrases en hauteur*/
}
.slider-content p {
  color: white;
  font-size: 2rem;
}
.section {
  padding: 100px 0;
}
.boxed {
  max-width: 1280px;
  margin-inline: auto; /*pour centrer la boxe*/
}
.boxed h2 {
  padding-bottom: 10px;
}
.flex {
  display: flex;
  justify-content: center;
  /*flex-wrap: wrap;*/
}
.comp{
  padding: 0 30px;
  width: 100%;
}
.dark {
  background: #000;
  color: #fff;
}
.bluecian {
  background: rgb(36 60 147 / 60%);
  color: #fff;
  text-align: center;
}
.w25 {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 25%;
}
.git {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lien {
  display: flex;
  font-size: 80px;
  color: rgb(195 116 68);
  background: rgb(46 48 64 / 73%);
  border-radius: 10px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  width: 327px;
  justify-content: center;
}
.lien:hover {
  color: rgb(9, 192, 97);
  box-shadow: 0 0 6px 3px;
}
.w25 h3 {
  display: flex;
  color: #ffffff;
  justify-content: center;
}
.w33 {
  display: flex;
  width: 33%;
  background: url("../img/bck.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px;
  border-radius: 10px;
}
.w40 {
  width: 40%;
}
.w60 {
  width: 60%;
}
.text-center {
  text-align: center;
}
.fa-bars {
  font-size: 30px;
  color: #fff;
  position: fixed;
  cursor: pointer;
  z-index: 2;
  top: 10px;
  left: 20px;
}
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: rgb(1 2 1 / 91%);
  z-index: 1;
  transition: 1s;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; /*mettre de lespace entre*/
  margin: 10px;
  padding: 0;
  list-style-type: none; /*enlever les puces*/
}
nav ul a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(233, 57, 14);
}
.marron {
  display: flex;
  align-items: baseline;
  padding: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.fa-arrow-right {
  font-size: 50px;
  margin: 10px;
}
.marron a {
  text-decoration: none;
  background: rgb(88, 45, 128);
  font-size: 30px;
  color: rgb(166, 160, 77);
  border-radius: 10px;
  padding: 5px;
}
.adress {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}
footer h2 {
  text-align: center;
  padding-bottom: 30px;
}
.footer-container li {
  padding: 0 100px;
  font-size: 40px;
}
.footer-container i {
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 100%;
}

.footer-container i:hover {
  color: red;
  scale: 150%;
}
.hidden {
  display: none;
}
@media (max-width: 1408px) {
  
}
